.home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.home input {
    display: inline-block;
}

.home input:focus {
    outline: none;
}

.home button:focus {
    outline: none;
}

.show_info {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2%;
    padding: 2%;
    box-shadow: 1px 1px 5px grey;
}

.show_info p {
    margin: 1%;
}

.click {
    cursor: pointer;
}

.click:hover {
    transform: scale(1.02);
}

.click:active {
    transform: scale(.98);
}

.show_btns {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.bottom_btns {
    display: flex;
    justify-content: flex-start
}

